<div>
    <h3><img src="http://www.mat.ai/images/logo-1.png"> 前端工程师笔试题</h3>
    <p>您好，欢迎您应聘材智科技前端工程师。为了让我们对您有初步的了解，在面试之前，希望您完成以下几道题目，谢谢。</p>
    <blockquote style="border-color: darkcyan;">
        ES5~ES8 的语法均可以使用
    </blockquote>
</div>
<div>
    <p>1、排序</p>
    <p>
        输入：
        <code>['B3','A1','C2','A2','C3','A3','B1','C1','B2']</code>
    </p>
    <p>
        输出：
        <code>['A1','A2','A3','B1','B2','B3','C1','C2','C3']</code>
    </p>

    <p>2、完成一个promise</p>

    <p>3、写出常见的ES6, ES7语法</p>

    <p>4、写出你了解的设计模式，有哪些地方曾经用到过这些设计模式？</p>

    <p>5、补充下面缺失的代码（省略号部分）</p>
    <pre class="language-typescript"><code>{{ code1 }}</code></pre>

</div>